!xterm*background: black
!xterm*foreground: white
xterm*loginShell: true
xterm*scrollBar: false
xterm*rightScrollBar: true
xterm*title: XTerm
xterm*iconName: XTerm
xterm*saveLines: 50000
xterm*jumpScroll: true
xterm*scrollTtyOutput: false
xterm*scrollKey: true
xterm*alwaysUseMods: true
xterm*metaSendsEscape: true
xterm*faceName: Monospace Regular;antialias: false
xterm*faceSize: 12
XTerm*alternateScroll: true


XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

XTerm.VT100.translations: #override \
Meta <Key> minus: smaller-vt-font() \n\
Meta <Key> plus: larger-vt-font() \n\
Meta <Key> KP_Subtract: smaller-vt-font() \n\
Meta <Key> KP_Add: larger-vt-font() \n\
Super <Key> minus: smaller-vt-font() \n\
Super <Key> plus: larger-vt-font() \n\
Super <Key> KP_Subtract: smaller-vt-font() \n\
Super <Key> KP_Add: larger-vt-font() \n



XTerm.VT100.background:         Black
XTerm.VT100.color0:             Black
XTerm.VT100.color1:             Red
XTerm.VT100.color2:             Green
XTerm.VT100.color3:             Yellow
XTerm.VT100.color4:             CornflowerBlue
XTerm.VT100.color5:             Magenta
XTerm.VT100.color6:             Grey
XTerm.VT100.color7:             White
XTerm.VT100.colorBD:            White
XTerm.VT100.colorBDMode:        true
XTerm.VT100.colorUL:            Yellow
XTerm.VT100.colorULMode:        true
XTerm.VT100.cursorColor:        Red
XTerm.VT100.foreground:         White


!!! Foreground
!xterm*foreground:       #FFFFFF


!!! Background
! Black
!xtemackground: #000000
! Green
!xterm*background: #022C0A
! Brown
!xterm*background: #3F2F08
! Black
!xterm*background:       #000000


xterm*cursorColor:  #ffffff
!xterm*cursorColor:  #57fd76
!xterm*cursorColor:  yellow
!xterm*cursorColor:      orange

!xterm*charClass:        33:48,35-38:48,39:43,42-47:48,58-59:48,61:48,63-64:48,126:48
!xterm*dynamicColors:    true


! Blacks
!xterm*color0:           #151515
!xterm*color8:           #505450
! Reds
!xterm*color1:           #FFFF00
!xterm*color9:           #47EE14
! Greens
!xterm*color2:           #00ff4d
!xterm*color10:          #a7e14b
! Yellows
!xterm*color3:           #F5A61E
!xterm*color11:          #dec62a
! Blues
!xterm*color4:           #75869F
!xterm*color12:          #00FF4d
! Purples
!xterm*color5:           #E61313
!xterm*color13:          #e628ba
! Cyans
!xterm*color6:           #08bab0
!xterm*color14:          #74fff7
! Whites
!xterm*color7:           #bbbbbb
!xterm*color15:          #ffffff


!!! Themes overrides

! MDE’s adobe theme overrides; very similar to vim colorscheme:
!   http://www.vim.org/scripts/script.php?script_id=1365
! Comment these out to enable theme.
!xterm*foreground: #000000
!xterm*background: #A2955F
! yellow1
!xterm*color3:           #684802
! cyan1
!xterm*color6:           #05635d
! blue1
!xterm*color4:           #3a5e87
! blue2
!xterm*color12:          #bcd7fd
! purple2
!xterm*color13:          #cf03a1
! red2
!xterm*color9:           #ffc2c2
! white1
!xterm*color7:           #c7c7c7


! Other themes
!xterm*background: #E3D7B4
!xterm*background: #AFAF87
